*{
    margin: 0px;
    padding: 0px;
}
#out{
    border: solid 1px;
    height: 646px;
    background-image: url(BG1.webp);
    background-repeat: no-repeat;
    background-size: 1349px 646px;
}
h1{
    color: rgb(70, 28, 28);
    font-size: 65px;
    margin-top: 100px;
    margin-left: 20;
}
#register,#login{
    height: 45px;
    width: 100px;
    background-color: lightskyblue;
}
#register{
    margin-left: 50px;
}
#register a,#login a{
    color: red;
    font-size: 19px;
    text-decoration: none;
}
#register:hover{
    background-color: greenyellow;
}
#login:hover{
    background-color: greenyellow;
}